* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Outfit-Regular";
    src: url(assets/fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: "Outfit-Medium";
    src: url(assets/fonts/Outfit-Medium.ttf);
}

.container {
    width: 1118px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
}

.menu-left ul {
    display: flex;
    column-gap: 30px;
}

.menu-left ul li a {
    font-family: "Montserrat-Regular";
    color: #141B4D;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.arrow {
    display: flex;
    gap: 8px;
}

/* menu right site */
.menu-right {
    display: flex;
    align-items: center;
}

.menu-right ul {
    display: flex;
    column-gap: 18.5px;
}

.menu-right ul li a {
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
    color: #141B4D;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menu i {
    font-size: 12px;
}

.border {
    width: 1px;
    height: 30px;
    background-color: #5F6C72;
    margin: 0 16px 0 24px;
}

.card {
    position: relative;
}

.card i {
    font-size: 28px;
}

.badge {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -7px;
    right: -5px;
    font-size: 10px;
}

/* ========= product ========= */
.product {
    display: flex;
    column-gap: 21px;
    justify-content: space-between;
}

.product-left {
    width: 100%;
}

.product-left-up {
    width: 598px;
}

.product-left-up img {
    width: 100%;
}

.product-left-down {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.product-right {
    width: 100%;
}

.product-right h3 {
    font-family: "Outfit-Regular";
    font-size: 15px;
    background-color: #ED4444;
    color: #FFFFFF;
    padding: 5px 20px 6px 5px;
    display: inline-block;
    border-radius: 5px;
}

.star {
    display: flex;
    column-gap: 7px;
    align-items: center;
    margin-top: 7px;
}

.star ul {
    display: flex;
}

.star ul li i {
    color: #FFB525;
}

.star span {
    font-family: "Outfit-Regular";
    font-size: 18px;
    color: #3F474B;
}

.product-right .heading {
    font-family: "Outfit-Medium";
    font-size: 60px;
    color: #141B4D;
    letter-spacing: -1px;
    margin-top: 13.94px;
}

.product-right .profile {
    width: 438px;
    margin-top: 13px;
    background-color: #F2F2F6;
    padding: 15px;
    border-radius: 5px;
}

.product-right .profile img {
    margin-top: 14px;
}

.product-right .profile p {
    width: 396px;
    font-family: "Outfit-Regular";
    font-size: 16px;
    color: #3F446C;
    line-height: 22px;
    margin-top: 9px;
}

.product-right .rules {
    margin-top: 19px;
}

.rules ul li i {
    color: #3385FF;
}

.product-right ul li span {
    font-family: "Outfit-Regular";
    font-size: 16px;
    color: #141B4D;
}

.product-right .outline {
    width: 434px;
    height: 1px;
    background-color: #dbdbdb;
    margin: 15px 0 15px 0;
}

/* ========== card ======== */
.card {
    /* margin-bottom: 100px; */
}

.price {
    display: flex;
    align-items: end;
    column-gap: 5px;
    margin-top: 41px;
}

.price del {
    font-family: "Outfit-Regular";
    font-size: 28px;
    color: #666666;
}

.price h2 {
    font-family: "Outfit-Medium";
    font-size: 38px;
    color: #CF1010;
}

.card-btn {
    display: flex;
    margin-top: 27px;
}

.card-btn button {
    width: 282px;
    height: 57px;
    font-family: "Outfit-Medium";
    font-size: 22px;
    border-radius: 5px;
    outline: none;
    background-color: #1DB469;
    color: #FFFFFF;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.quantity {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.quantity button {
    width: 30px;
    height: 30px;
    background-color: #f1f1f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141B4D;
    font-family: "Outfit-Medium";
    font-size: 25px;
    cursor: pointer;
}

.quantity .count {
    color: #141B4D;
    font-family: "Outfit-Medium";
    font-size: 30px;
    padding: 0 20px;
}